<div class="left-side-menu sidebar">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>
                <li>
                    <a href="javascript: void(0);"  routerLink="/melon/employee">
                        <i class="fe-menu"></i>
                        <span> Employee </span>
                    </a>
                    
                </li>
              

                <li>
                    <a href="javascript: void(0);" (click)="toggleSidebar()" routerLink="/melon/feedback">
                        <i class="fe-menu"></i>
                        <span> Feedback </span>
                    </a>
                    
                </li>
                <li>
                    <a href="javascript: void(0);" (click)="toggleSidebar()" routerLink="/melon/products">
                        <i class="fe-menu"></i>
                        <span> Products </span>
                    </a>
                    
                </li>
              
               
               

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>